
/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-bodyy {
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
/* adminstyle.css */
.spinner {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
.admin-module-containerr {
    max-width: 400px;
    width: 90%;
    min-height: 50vh;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.admin-title {
    font-size: 2rem;
    color: #4c65f2;
    margin-bottom: 30px;
}

.admin-login-form {
    width: 100%;
}

.admin-input-group {
    margin-bottom: 20px;
    text-align: left;
}

.admin-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.admin-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    transition: border-color 0.3s;
}

.admin-input:focus {
    border-color: #4c65f2;
}

.admin-login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #4c65f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-login-button:hover {
    background-color: #3b4ed9;
}

.admin-footer {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}
.admin-error {
    color: red; /* Change the error message color to red */
    font-weight: bold; /* Optional: make the error message bold */
  }
  