* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mocktestpage-body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.mocktestpage-container {
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.mocktestpage-title {
    font-size: 2.5rem;
    color: #4c65f2;
    margin-bottom: 30px;
}

.mocktestpage-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mocktestpage-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.mocktestpage-form input:focus {
    border-color: #4c65f2;
    outline: none;
}

.mocktestpage-btn-add,
.mocktestpage-btn-update {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.mocktestpage-btn-add {
    background-color: #4c65f2;
    color: white;
}

.mocktestpage-btn-update {
    background-color: #28a745;
    color: white;
}

.mocktestpage-btn-add:hover {
    background-color: #3b4fb5;
}

.mocktestpage-btn-update:hover {
    background-color: #218838;
}

.mocktestpage-questions-list {
    margin-top: 20px;
    text-align: left;
}

.mocktestpage-questions-list h2 {
    color: #333;
}

.mocktestpage-question-item {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.mocktestpage-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.mocktestpage-btn-edit,
.mocktestpage-btn-delete {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.mocktestpage-btn-edit {
    background-color: #4c65f2;
    color: white;
}

.mocktestpage-btn-delete {
    background-color: #e74c3c;
    color: white;
}

.mocktestpage-btn-edit:hover {
    background-color: #3b4fb5;
}

.mocktestpage-btn-delete:hover {
    background-color: #c0392b;
}
.image-preview {
    margin-top: 10px;
    text-align: left;
}

.image-preview img {
    max-width: 20%;
    height: auto;
    border-radius: 10px;
}
.no-questions-message {
    color: black; /* Change text color to black */
    font-size: 1.2rem; /* Optional: Adjust font size */
    margin-top: 20px; /* Optional: Add some margin */
}